<footer class="footer">
  <small>
    Крайне чудесный блог и все такое …
  </small>
  <nav>
    <ul>
      <li><%= link_to "About" %></li>
      <li><%= link_to "Contact"  %></li>
    </ul>
  </nav>
</footer>